@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  position: fixed;
  height: 51px;
  background: #212121;
  z-index: 2;
  width: 100%;
}

.humberger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  z-index: 1;
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 6px;
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
.subheader_call {
  margin-top: 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: #FFFFFF;
}
.subheader_number {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subheader_btn {
  margin-top: 21px;
  width: 172px;
  height: 46px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  height: 799px;
  padding: 65px 0 185px 0;
  background: url(/img/bg/uber_bg.png) center center/cover no-repeat;
}
.promo_header {
  margin-top: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.promo_subheader {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.promo_descr {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.promo_btn {
  display: block;
  margin: 115px auto 0 auto;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  cursor: pointer;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.reason {
  padding: 18px 0 67px 0;
}
.reason .reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}
.reason .reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}
.reason .reasons_descr {
  width: 343px;
}
.reason .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}
.reason .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url(/img/bg/Подложка.png);
}
.mobile .row {
  margin-top: 32px;
}
.mobile .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 82px;
}
.mobile_item_1 {
  background: url(/img/card/Карточка_1.png) center center/cover no-repeat;
}
.mobile_item_2 {
  background: url(/img/card/Карточка_2.png) center center/cover no-repeat;
}
.mobile_item_3 {
  background: url(/img/card/Карточка_3.png) center center/cover no-repeat;
}
.mobile_item_4 {
  background: url(/img/card/Карточка_4.png) center center/cover no-repeat;
}
.mobile_item_5 {
  background: url(/img/card/Карточка_5.png) center center/cover no-repeat;
}
.mobile_item_6 {
  background: url(/img/card/Карточка_6.png) center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 6px;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item_plus:after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.car {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url(img/bg/mobile_bg.png) center center/cover no-repeat;
}
.car .label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background: #FFFFFF;
  color: #070716;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}
.car .subtitle_white {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.car .title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.car_img {
  position: relative;
  display: block;
  margin: 56px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}
.car_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.car .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: -1;
}

.terms {
  padding: 68px 0 87px 0;
}
.terms_topic {
  margin-top: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1CA8C3;
}
.terms_list {
  margin-top: 22px;
  list-style-type: none;
  padding-left: 50px;
}
.terms_list li {
  position: relative;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
}
.terms_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../logo/check/check_blue_5.png") center center/cover no-repeat;
}
.terms_descr {
  margin-top: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1CA8C3;
}
.terms .warning {
  margin-top: 64px;
}
.terms .warning .terms_topic {
  color: #FF5656;
}
.terms .warning .terms_list li {
  position: relative;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
}
.terms .warning .terms_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../logo/check/check_red_4.png") center center/cover no-repeat;
}

.world {
  min-height: 716px;
  padding: 46px 0 50px 0;
  background-image: url("../img/bg/world_bg.png");
}
.world .world_label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background: #FFFFFF;
  color: #070716;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}
.world .world_title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.world .world_descr {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.world a {
  display: block;
  margin: 0 auto;
  margin-top: 482px;
  text-align: center;
}

.footer {
  min-height: 140px;
  padding: 11px 0 30px 0;
}
.footer .ft_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 360px;
}
.footer .ft_title .footer_1 {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #070716;
}
.footer .ft_title .footer_2 {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #070716;
}
.footer .ft_title .footer_3 {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #070716;
}
.footer .ft_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 380px;
  margin-top: -33px;
}
.footer .ft_subtitle .footer_1 {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #999999;
}
.footer .ft_subtitle .footer_2 {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #999999;
}
.footer .ft_subtitle .footer_3 {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: rgb(153, 153, 153);
}
.footer .ft_subtitle .footer_4 {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #999999;
}
.footer .ft_subtitle .footer_5 {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #999999;
}
.footer .liner hr {
  border: none;
  margin-top: 11px;
  width: 301px;
  height: 7px;
  background: #1FBAD6;
}
.footer .ft_language {
  margin-top: -41px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .subheader_number {
    margin-left: 52px;
  }
  .promo_header {
    font-size: 50px;
  }
  .reason .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reason .reasons_descr {
    width: 300px;
  }
  .mobile_item_1 {
    width: 300px;
  }
  .mobile_item_2 {
    width: 300px;
  }
  .mobile_item_3 {
    width: 300px;
  }
  .mobile_item_4 {
    width: 300px;
  }
  .mobile_item_5 {
    width: 300px;
  }
  .mobile_item_6 {
    width: 300px;
  }
  .footer .ft_title {
    padding: 0px 295px;
  }
  .footer .ft_subtitle {
    padding: 0px 245px;
  }
}
@media (max-width: 991px) {
  .menu {
    padding: 13px 23px;
  }
  .menu_item {
    padding-right: 14px;
  }
  .menu_link {
    font-size: 11px;
  }
  .subheader img {
    width: 100%;
  }
  .subheader_number {
    margin-left: 21px;
    font-size: 18px;
  }
  .subheader_official {
    font-size: 12px;
  }
  .subheader_btn {
    margin-top: 26px;
    width: 156px;
    height: 35px;
  }
  .car img {
    width: 700px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 25px;
  }
  .promo_descr {
    font-size: 14px;
  }
  .reason .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reason .reasons_descr {
    width: 300px;
    margin-top: 25px;
  }
  .mobile_item_1 {
    width: 200px;
  }
  .mobile_item_2 {
    width: 200px;
  }
  .mobile_item_3 {
    width: 200px;
  }
  .mobile_item_4 {
    width: 200px;
  }
  .mobile_item_5 {
    width: 200px;
  }
  .mobile_item_6 {
    width: 200px;
  }
  .footer .ft_title {
    padding: 0px 175px;
  }
  .footer .ft_subtitle {
    padding: 0px 140px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .subheader img {
    width: 40%;
  }
  .subheader_number {
    position: absolute;
    margin-left: 350px;
    margin-top: -52px;
  }
  .subheader_call {
    display: none;
  }
  .subheader_btn {
    position: absolute;
    top: -46px;
    right: 46px;
    width: 131px;
    height: 31px;
    font-size: 12px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .promo_header {
    font-size: 36px;
  }
  .reason .title {
    font-size: 27px;
  }
  .mobile title {
    font-size: 27px;
  }
  .mobile_item_1 {
    width: 300px;
  }
  .mobile_item_2 {
    width: 300px;
  }
  .mobile_item_3 {
    width: 300px;
  }
  .mobile_item_4 {
    width: 300px;
  }
  .mobile_item_5 {
    width: 300px;
  }
  .mobile_item_6 {
    width: 300px;
  }
  .car .title_white {
    font-size: 37px;
  }
  .car img {
    width: 490px;
  }
  .footer .ft_title {
    padding: 0px 90px;
  }
  .footer .ft_subtitle {
    padding: 0px 60px;
  }
}
@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  header {
    height: 30px;
  }
  .subheader {
    height: 62px;
    margin-top: 29px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    position: absolute;
    width: 93%;
    left: 7%;
    margin-top: 19px;
  }
  .subheader_number {
    font-weight: 100;
    font-size: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 266px;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-weight: 400;
    font-size: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 78px;
  }
  .promo {
    min-height: 400px;
    padding: 73px 0 35px 0;
  }
  .promo_header {
    font-size: 30px;
    margin-top: 152px;
  }
  .promo_subheader {
    font-size: 20px;
  }
  .promo_descr {
    display: none;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    font-size: 16px;
  }
  .reason .reasons_round {
    margin: 0;
  }
  .reason .title {
    font-size: 16px;
    margin-top: 16px;
  }
  .reason .row {
    margin-top: -19px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile .title {
    margin-top: 14px;
    font-size: 16px;
  }
  .mobile_subtitle {
    font-size: 14px;
  }
  .mobile_item_1 {
    width: 290px;
  }
  .mobile_item_2 {
    width: 290px;
  }
  .mobile_item_3 {
    width: 290px;
  }
  .mobile_item_4 {
    width: 290px;
  }
  .mobile_item_5 {
    width: 290px;
  }
  .mobile_item_6 {
    width: 290px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
  }
  .car .title_white {
    display: none;
  }
  .car .subtitle_white {
    display: none;
  }
  .car img {
    width: 300px;
  }
  .car_descr {
    font-weight: 300;
    font-size: 17px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .terms .title {
    font-size: 16px;
  }
  .world .world_title {
    font-size: 16px;
  }
  .world .world_descr {
    font-size: 14px;
    margin-top: 11px;
  }
  .footer .ft_title {
    padding: 0px 0px;
  }
  .footer .ft_subtitle {
    padding: 0;
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_link {
    display: block;
  }
}